
            <div class="b-dialog__twocols">
                <div class="b-dialog__col">
                    <div class="b-dialog__line">
                        <label>
                            <span class="b-dialog__label">Имя</span>
                            <input type="text" name="first_name" value="{{first_name}}"
                            class="b-inp"/>
                        </label>
                    </div>
                </div>
                <div class="b-dialog__col">
                    <div class="b-dialog__line">
                        <label>
                            <span class="b-dialog__label">Фамилия</span>
                            <input type="text" name="last_name" value="{{last_name}}" class="b-inp"/>
                        </label>
                    </div>
                </div>
            </div>

            <div class="b-dialog__line">
                <label>
                    <span class="b-dialog__label">Город</span>
                    <input type="text" name="city" value="{{city}}" class="b-inp"/>
                </label>
            </div>
            <div class="b-dialog__line">
                <label>
                    <span class="b-dialog__label">Фото</span>
                    <input type="text" name="link_photo" value="{{link_photo}}" class="b-inp"/>
                </label>

                <p class="b-dialog__line_example">Иван</p>
            </div>
            <div class="b-dialog__line">
                <label>
                    <span class="b-dialog__label">Описание</span>
                    <textarea cols="30" rows="4" name="about" class="b-inp">{{about}}</textarea>
                </label>
            </div>
            <div class="b-dialog__twocols">
                <div class="b-dialog__col">
                    <div class="b-dialog__line">
                        <label>
                            <span class="b-dialog__label">ВКонтакте</span>
                            <input type="text" name="link_vk" value="{{link_vk}}" class="b-inp"/>
                        </label>
                    </div>
                </div>
                <div class="b-dialog__col">
                    <div class="b-dialog__line">
                        <label>
                            <span class="b-dialog__label">Github</span>
                            <input type="text" name="link_gihub" value="{{link_gihub}}" class="b-inp"/>
                        </label>
                    </div>
                </div>
            </div>
            <div class="b-dialog__twocols">
                <div class="b-dialog__col">
                    <div class="b-dialog__line">
                        <label>
                            <span class="b-dialog__label">Yandex</span>
                            <input type="text" name="link_yaru" value="{{link_yaru}}" class="b-inp"/>
                        </label>
                    </div>
                </div>
                <div class="b-dialog__col">
                    <div class="b-dialog__line">
                        <label>
                            <span class="b-dialog__label">Facebook</span>
                            <input type="text" name="link_facebook" value="{{link_facebook}}" class="b-inp"/>
                        </label>
                    </div>
                </div>
                <input type="hidden" name="id" value="{{id}}"/>
            </div>
            <button class="b-button">ОК</button>